.search-filter input {
    background-color: rgb(232, 237, 249);
    border: none;
    border-radius: 10px;
    width: 45%;
    width: 600px;
}

.search-filter input:hover {
    background-color: white;
}