.details-page {
    display: grid;
    grid-template-columns: 50px auto 50px;
    align-items: center;
}

.btn-next , .btn-prev {
    font-size: 2rem;
    color: var(--green);
}

.btn-next:hover , .btn-prev:hover {
    font-size: 2.5rem;
    color: red;
}

.book-details {
    grid-column: 2;
    margin-inline-start: 50%;
    translate: -50%;
    position: relative;
    text-align: center;
    display: grid;
    padding: 10px;
    width: 80%;
    color: var(--green);
    margin-top: 40px;
    border: 1px solid var(--green);
}

.book-details > * {
    padding: 5px;
}

.book-details h1 {
    font-weight: bold;
}

.book-details .sale {
    color: #fff;
    text-align: center;
    width: 35%;
    padding: 10px;
    background-color: red;
    position: absolute;
    right: -6%;
    top: 1%;
    transform: rotate(30deg);
}

.sub-titles {
    font-weight: bold;
}

.book-details hr {
    padding: 0;
    margin: 0;
    width: 50%;
    margin-inline-start: 50%;
    translate: -50%;
    background-color: inherit;
    border: 1px dashed var(--green);
}

.book-details .btn-more {
    font-weight: bold;
    border: none;
    background-color: inherit;
    color: red;
}

.book-details .btn-more:hover {
    cursor: pointer;
}

.book-details img{
    width: 200px;
    justify-self: center;
}

.book-details button{
    justify-self: end;
    border: none;
    background-color: inherit;
}

.book-details .red {
    color: red;
}

/* .book-details .green {
    color: rgb(0, 255, 0);
} */

.btn-close-details {
    color: #ff0000;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    background-color: rgba(58, 58, 58,0);
    position: absolute;
}

.btn-close-details:hover {
    cursor: pointer;
    font-size: 1.4rem;
}