.note-preview {
    text-align: left;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    position: relative;
    color: black;
    break-inside: avoid-column;
}

.note-preview h5{
    padding: 16px 16px 0 16px;
    font-weight: 400;
    font-size: 1rem;
}

.note-preview h4 {
    padding: 16px 16px 0 16px;
    font-weight: 500;
    font-size: 1.1em;
}

.note-preview li {
    margin-bottom: 5px;
}

.note-preview:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.note-preview:hover .note-editor {
    opacity: 1;
}

.note-preview:hover .icon-pin{
    opacity: 0.5;
}

.note-preview:hover .icon-pin:hover {
    background-color: rgba(95,99,104,0.157);
    cursor: pointer;
    opacity: 0.9;
}

.icon-pin {
    position: absolute;
    padding: 4px;
    top: 3%;
    right: 3%;
    opacity: 0;
    border-radius: 50%;
}

.note-preview img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.note-preview video {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.note-preview li.done {
    text-decoration: line-through;
    color: #5f6368;
}

.content:focus {
    outline: none;
}