.email-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
  background-color: white;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  border-collapse: collapse;
  color: rgb(32, 33, 36);
  font-weight: bold;
  position: relative;
}

.email-preview.read {
  background-color: rgb(246, 248, 252);
  font-weight: normal;
}

.email-preview:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.email-preview:hover .remove-btn {
  display: block;
}

.preview-svgs-user {
  display: flex;
  align-items: center;
  margin-left: 15px;
  flex-basis: 250px;
}

.preview-svgs-user div {
  margin: 5px;
}

.empty-div {
  color: inherit;
  background: white;
  height: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.preview-content {
  display: inline-block;
  text-overflow: ellipsis;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-date {
  flex-basis: 70px;
}

.subject-body {
  display: flex;
  flex-grow: 1;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: left; */
  /* margin-left: 50px; */
}

.body-prev {
  color: #5f6368;
  font-weight: 200;
}

.preview-btns {
  display: flex;
  justify-content: center;
  padding: 4px;
  display: none;
  background-color: transparent;
  border: none;
}

.email-preview:hover .preview-btns {
  display: flex;
}

.preview-btns > * {
  margin-inline-start: 10px;
}

/* .remove-btn { */
/* position: absolute; */
/* top: 10;
  right: 0; */
/* display: none;  */
/* } */

.email-preview:hover .remove-btn {
  display: block;
}
.email-preview:hover .preview-date {
  display: none;
}

/* .keep-btn {
  position: absolute;
  top: 10;
  right: 0; */
/* display: none;  */
/* } */

.email-preview:hover .keep-btn {
  display: block;
}

.trash-keep-svgs {
  display: flex;
}
