.compose-new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  right: 5%;
  bottom: 0;
  padding: 10px;
  width: 630px;
  height: 575px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  z-index: 1;
}

.compose-input {
  background-color: white;
  width: 45%;
  width: 600px;
  padding: 1em;
  border: none;
  box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
}

.compose-input-body {
  border: none;
  width: 600px;
}

.New-msg {
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 248, 252);
  width: 103.3%;
  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  text-align: left;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: black;
  align-items: baseline;
}

.exit-btn {
  width: 16px;
  height: 16px;
  color:gray;
  cursor: pointer;
}
input:focus {
  outline: none;
}

.send-trash-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20.5em;
  margin-left: 10px;
}

.send-trash-btns button {
  width: 72px;
  height: 36px;
  margin-top: 33px;
  background-color: #0b57d0;
  color: rgb(250, 250, 250);
  border: none;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
